<div class="container">
  <div class="row">
      <div class="col-md-4 col-md-offset-4">
          <div class="login-panel panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Please Sign In</h3>
              </div>
              <div class="panel-body">
                  <form role="form" (submit)="onSubmit($event)">
                      <fieldset>
                          <div class="form-group">
                              <input class="form-control" placeholder="Company Name" id="companyName" type="text" autofocus>
                          </div>  
                          <div class="form-group">
                              <input class="form-control" placeholder="E-mail" id="email" type="email" autofocus>
                          </div>
                          <div class="form-group">
                            <select class="form-control" id="domain">
                                <option>Software House</option>
                                <option>University/ Institude</option>
                            </select>
                          </div>  
                          <div class="form-group">
                              <input class="form-control" placeholder="Password" id="password" type="password" value="">
                          </div>
                          <div class="checkbox">
                              <label>
                                  <input name="remember" type="checkbox" value="Remember Me">Remember Me
                              </label>
                          </div>
                          <!-- Change this to a button or input when using this as a form -->
                          <button type="submit" id="submit" class="btn btn-lg btn-success btn-block">Register</button>
                          <br/>
                              <small><strong>Already have an account? </strong>Click here to <a routerLink="/auth/login">login</a></small>
                      </fieldset>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>