<!-- Page Content -->
<div id="page-wrapper">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Dashboard</h1>
          </div>
          <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

<!-- /.row  Tasks-->
<div class="row">

    <!-- task card -->
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>Projects</div>
                    </div>
                </div>
            </div>
            <a routerLink="/project/projects">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>New Tasks</div>
                    </div>
                </div>
            </div>
            <a routerLink="/task/tasks#new">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">124</div>
                        <div>Complete Task</div>
                    </div>
                </div>
            </div>
            <a routerLink="/task/tasks">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">13</div>
                        <div>In-Progress Task</div>
                    </div>
                </div>
            </div>
            <a routerLink="/task/tasks">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- task card end -->

</div>

<div class="row">
    <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Projects
                </div>
                <div class="panel-body">
                    <p>Your are not member of any project.</p>
                </div>
            </div>
    </div>

    <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Report Analysis
                </div>
                <div class="panel-body">
                    <p>No report to shown.</p>
                </div>
            </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Task from board
                </div>
                <div class="panel-body">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                </tbody>
                            </table>
                </div>
                <div class="panel-footer">
                    View More
                </div>
            </div>
    </div>
    <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Task from board
                </div>
                <div class="panel-body">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                </tbody>
                            </table>
                </div>
                <div class="panel-footer">
                    View More
                </div>
            </div>
    </div>
    <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    New Task from board
                </div>
                <div class="panel-body">
                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Task description ABC</td>
                                    </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Task description ABC</td>
                                        </tr>
                                </tbody>
                            </table>
                </div>
                <div class="panel-footer">
                    View More
                </div>
            </div>
    </div>
</div>

  </div>
  <!-- /.container-fluid -->
</div>