<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Mr Smith
                    <!-- <button type="button" class="btn btn-link pull-right" (click)="goBack()">← go back to previous page</button> -->
                </h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add New Department</h3>

            </div>
            <div class="panel-body">
                <form role="form" (submit)="onSubmit($event)">
                    <fieldset>
                        <div class="form-group">
                            <select class="form-control" id="deptId" (change)="onChange($event.target.value)">
                                <option *ngFor="let item of _dept.deptList" value="{{item.id}}">
                                    {{item.name}}
                                </option>
                            </select>
                            <small>Select Department</small>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        DataTables Advanced Tables
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <table width="100%" class="table" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Eamil</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="odd gradeX" *ngFor="let item of _emp.empList; index as i">
                                    <td class="center">{{i+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{deptName}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- /.table-responsive -->

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>